body {
    background-color: #161026;
    color: #e880f1;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #533a94;
    color: white;
    font-size: 18px;
}

textarea {
    width: 80%;
    height: 300px;
    margin-top: 20px;
}

#areaOutput {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#drawingCanvas {
    background-color: #1e1e1e;
}
